<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bush Campus Signin Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <div id="content-container">
        <h1>Hello, {{ .Name }}!</h1>
        <div>
            <img src="{{ .Picture }}" class="rounded-image" alt="Google profile pic">
        </div>
        <a class="btn-primary ripple" href="/logout">Logout</a>
    </div>
</body>
</html>
