<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in with Google</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <div id="content-container">
        <h1>Form Successfully Submitted!</h1>
        <a class="btn-primary ripple" href="/account">Account Page</a>
    </div>
</body>
</html>

